.mainGame {
    position: relative;
    padding: 5%;
    display: flex;  
    flex-flow: row wrap;
    border: 2px solid red;
}

.mainGame .board {
    
    background-image: url(/grid.png);
    background-size: 64px 64px;
    border: 2px solid red;
}

.mainGame .infoContext {
    /* flex: 1; */
    width: 50%;
    border: 1px solid black;
    border-left: none;
    background: blue;
}
.mainGame .cards{
    border: 1px solid black;
    border-left: none;
    background: green;
    height: 100px;
}

.cards {
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 32px;
    margin: 0px;
    padding: 0px;
}

.placed .cards{
    position: absolute;
}